#navbar{
    display: inline-block;
    height: 60px;
}

.hover-link{
    transition: 0.1s ease-in-out;

}

.hover-link:hover {
    font-size: 23px;
}

.foot-hover:hover{
    background-color: blue;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px black;
}